*{
    margin: 0;
}
h1{
    font-family: 'Pirata One', cursive;
    font-size: 50px;
    margin-bottom:40px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header-part p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    color: dimgray;
}
.name-style{
    color: orange;
}
.header-part{
    background-image: url('image/top-banner.png');
    height: 600px;
    background-repeat: no-repeat;
}
.header-text{
    width: 42%;
    float:left;
    padding: 5%;
}
.header-btn{
    padding: 10px 20px;
    background-image: linear-gradient(45deg, blue, #00ffff);
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}
.personal-img{
    width: 650px;
}
.header-img{
    width:45%;
    float:left;
}
.dream-part p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    color: dimgray;
}
.dream-text{
    width: 45%;
    float:left;
    padding: 5%;
}
.dream-img{
    width:45%;
    float:left;
}
.dream-img img{
    width: 100%;
}
.dream-part{
    background-image: url('image/dream-bg.png');
    background-repeat: no-repeat;
    background-position:right;
    height: 800px;
    
}
.dream-btn{
    padding: 15px 25px;
    background-image: linear-gradient(60deg, orange, red);
    font-weight: bold;
    color: #fff
}
.Experiences-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
    background-size: 80px;
}
.Experiences-area p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    color: dimgray;
}

.Experiences{
    font-size: 50px;
}
.Experiences-heading{
    color: orange;
    font-size: 20px;
}
.Experiences-first{
    width: 40%;
    float:left;
    padding: 3%;
    margin-left: 3%;
    height: 280px;
    box-shadow: 0 0 30px gray;
    margin-bottom: 40px;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, yellow);
    border-image-slice: 1;
    background-color: #fff;
}
.Experiences-scound{
    width: 40%;
    float:left;
    padding: 3%;
    margin-left: 3%;
    height: 280px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    margin-bottom: 40px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, #00ffff);
    border-image-slice:1; 
}

footer p{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: dimgray;
}